.carta-img, .carta-intro {
  background-color: rgba(151, 222, 255, 0.7450980392);
  font-size: 20px;
  color: black;
}
.carta-img:hover, .carta-intro:hover {
  background-color: #97DEFF;
  font-size: 20px;
  color: black;
  padding: 15px;
  transform: scale(1.1);
  transition: all 1.8s;
}

.carta-form, .cartas-logros, .titulo-logros, .cartas-equipo:hover {
  background-color: #97DEFF;
  color: black;
}

.carta-img .txt-fundadora {
  padding: 20px;
}

.cartas-equipo {
  background-color: rgba(151, 222, 255, 0.4392156863);
  border-color: rgba(77, 113, 129, 0.3803921569);
  color: black;
  margin-top: 35px;
  height: 450px;
}
.cartas-equipo:hover {
  border-color: rgba(77, 113, 129, 0.3803921569);
  margin-top: 35px;
  height: 450px;
}

.titulo-logros {
  margin: 130px 25px 40px 20px;
  font-size: 20px;
}

.cartas-logros {
  margin: 40px 20px;
  font-size: 20px;
}

.carta-form {
  margin: 130px 100px 40px 100px;
}

.main-index {
  margin-top: 85px;
  padding: 50px;
}

.carta-intro, .carta-img {
  margin-top: 60px;
  padding: 15px;
}

* {
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}

.navbar-mio {
  background-color: #97DEFF;
  border-bottom: 2px solid rgba(77, 113, 129, 0.3803921569);
}
.navbar-mio div a h2 {
  color: white;
  font-size: 56px;
  margin-right: 10px;
  margin-top: 9px;
}

.links-nav {
  font-size: 20px;
}

.main-index {
  background-image: url("../imagenes/fondoindexx.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.titulo-index {
  font-size: 190px;
  font-family: "Lalezar", cursive;
  margin-bottom: 200px;
  padding: 25px;
  color: rgba(255, 255, 255, 0.575);
}

.boton-donar {
  font-weight: 600;
  color: black;
  background-color: rgba(253, 253, 253, 0.616);
  border-color: rgba(253, 253, 253, 0.616);
}
.boton-donar:hover {
  color: black;
  border-color: #97DEFF;
  background-color: #97DEFF;
  transform: scale(1.1);
  transition: all 1.8s;
}

.frase-inicio {
  border-radius: 30px;
  background: rgb(151, 222, 255);
  background: -moz-linear-gradient(90deg, rgb(151, 222, 255) 20%, rgba(255, 255, 255, 0.3841911765) 50%, rgb(151, 222, 255) 80%);
  background: -webkit-linear-gradient(90deg, rgb(151, 222, 255) 20%, rgba(255, 255, 255, 0.3841911765) 50%, rgb(151, 222, 255) 80%);
  background: linear-gradient(90deg, rgb(151, 222, 255) 20%, rgba(255, 255, 255, 0.3841911765) 50%, rgb(151, 222, 255) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#97deff",endColorstr="#97deff",GradientType=1);
  color: black;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.row-introduccion {
  margin-top: 60px;
  margin-bottom: 50px;
}

.header-intro {
  background-color: transparent;
}

.row-mio {
  margin-top: 30px;
  margin-bottom: 80px;
}

.div-logros, .div-equipo {
  margin-top: 120px;
}

.titulo-equipo-index, .titulo-logros-index {
  margin-bottom: 20px;
  border: solid 4px #97DEFF;
  background: rgb(151, 222, 255);
  background: -webkit-linear-gradient(90deg, rgba(151, 222, 255, 0) 50%, rgb(151, 222, 255) 100%);
  background: linear-gradient(90deg, rgba(151, 222, 255, 0) 50%, rgb(151, 222, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#97deff",endColorstr="#97deff",GradientType=1);
  background: -moz-linear-gradient(90deg, rgba(151, 222, 255, 0) 50%, rgb(151, 222, 255) 100%);
}
.titulo-equipo-index h3, .titulo-logros-index h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Lalezar", cursive;
}

.card-mio {
  margin-top: 20px;
}

.tarjetas-mio {
  background-color: #97DEFF;
  height: auto;
}
.tarjetas-mio h5 {
  color: black;
  font-family: "Lalezar", cursive;
}

footer {
  background: rgb(151, 222, 255);
  background: -moz-linear-gradient(90deg, rgba(151, 222, 255, 0) 0%, rgb(151, 222, 255) 70%);
  background: -webkit-linear-gradient(90deg, rgba(151, 222, 255, 0) 0%, rgb(151, 222, 255) 70%);
  background: linear-gradient(90deg, rgba(151, 222, 255, 0) 0%, rgb(151, 222, 255) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#97deff",endColorstr="#97deff",GradientType=1);
  color: black;
  font-size: 20px;
}
footer div ul {
  padding: 0;
}
footer div ul li a {
  text-decoration: none;
  color: black;
}

.links-footer {
  margin-top: 40px;
}

.links-redes {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.links-complementarios {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  margin-bottom: 10px;
}
.links-complementarios li {
  margin-left: 30px;
}

.iframe-mapa {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
}

.div-info {
  margin-top: 130px;
}

.iframe-info {
  margin-top: 50px;
}

.texto-info {
  padding: 20px;
  font-size: 18px;
  color: black;
  background-color: #97DEFF;
}

.div-botones {
  margin-bottom: 15px;
  margin-top: 130px;
  border: solid 2px rgba(77, 113, 129, 0.3803921569);
  background-color: rgba(151, 222, 255, 0.5254901961);
}

.header-info {
  background-color: transparent;
  font-size: 40px;
}

.botones-info {
  background-color: rgba(151, 222, 255, 0.7450980392);
  border-color: rgba(77, 113, 129, 0.3803921569);
  color: black;
  font-size: 20px;
}

.botones-info:hover {
  background-color: #97DEFF;
  border-color: rgba(77, 113, 129, 0.3803921569);
  color: black;
  font-size: 20px;
}

.texto-carta {
  background-color: rgba(151, 222, 255, 0.7450980392);
  color: black;
  font-size: 20px;
}

.card-iframe {
  margin: 110px;
  background-color: #97DEFF;
}
.card-iframe div .div-iframe-info {
  padding: 20px;
  color: black;
}
.card-iframe div .div-iframe-info p {
  font-size: 20px;
}

.row-equipo {
  margin: 0px;
}

.card-equipo {
  padding: 20px;
  margin: 130px 25px 40px 25px;
  border-color: rgba(77, 113, 129, 0.3803921569);
  background: rgb(151, 222, 255);
  background: -moz-radial-gradient(circle, rgba(151, 222, 255, 0) 50%, rgb(151, 222, 255) 90%);
  background: -webkit-radial-gradient(circle, rgba(151, 222, 255, 0) 50%, rgb(151, 222, 255) 90%);
  background: radial-gradient(circle, rgba(151, 222, 255, 0) 50%, rgb(151, 222, 255) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#97deff",endColorstr="#97deff",GradientType=1);
}

.iframe-logros {
  padding: 10px;
}

.boton-form {
  background-color: rgba(151, 222, 255, 0.4392156863);
  color: black;
  border-color: rgba(77, 113, 129, 0.3803921569);
}
.boton-form:hover {
  background-color: white;
  color: black;
  border-color: rgba(77, 113, 129, 0.3803921569);
}

@media (max-width: 1000px) {
  .img-nav {
    display: none;
  }
  .titulo-index {
    display: flex;
    justify-content: center;
    font-size: 116px;
    margin-bottom: 220px;
  }
  .cartas-equipo {
    padding: 0px;
    height: auto;
  }
  .cartas-equipo:hover {
    height: auto;
  }
  .card-equipo {
    margin: 0;
    padding: 0;
    --bs-card-spacer-x: 0rem;
    --bs-card-spacer-y: 0rem;
    margin-bottom: 40px;
  }
  .mapa-refencias {
    display: none;
  }
  .card-iframe {
    margin: 20px;
  }
  footer {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .links-redes {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  footer .links-footer {
    margin-top: 0px;
  }
  footer .links-footer ul {
    padding: 0;
  }
  footer .nombre-links {
    padding: 0px;
  }
  footer .nombre-links h3 {
    font-size: 26px;
    font-weight: 600;
  }
  footer .nombre-links ul {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .titulo-index {
    font-size: 59px;
    display: flex;
    justify-content: center;
    margin-bottom: 230px;
  }
  .frase-inicio {
    display: none;
  }
  .tarjetas-mio {
    height: auto;
  }
  .card-iframe {
    display: none;
  }
  .div-botones {
    display: none;
  }
  .main-index {
    height: 660px;
  }
  body {
    overflow-x: hidden;
  }
  .texto-info {
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
  .carta-intro, .carta-img {
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
  .carta-intro:hover, .carta-img:hover {
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
  .crt-equipo {
    padding: 5px;
    font-size: 17px;
  }
  .card-equipo {
    margin-bottom: 40px;
  }
  .carta-form {
    margin: 130px 30px 40px 30px;
  }
}
@media (max-width: 325px) {
  .iframe-logros, .cartas-logros {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
