$color-principal: #97DEFF;
$color-secundario:#4d718161;
$color-letra: black;
$font-primario: 'Quicksand', sans-serif;
$font-secundario: 'Lalezar', cursive;
$background-boton: #97deff33;
$px-size: 20px;
$flx: flex;
$trnspnt:transparent;
$mrg-top-l:60px;
$mrg-m:50px;
$pddng-s:15px;
$bg-clr2: #97deffbe;
$trf:scale(1.1);
$trs:all 1.8s; 