.main-index {
    background-image: url("../imagenes/fondoindexx.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}
.titulo-index{
    font-size: 190px;
    font-family: $font-secundario;
    margin-bottom: 200px;
    padding: 25px;
    color: rgba(255, 255, 255, 0.575);
}
.boton-donar{
    font-weight: 600;
    color: $color-letra;
    background-color:$background-boton;
    border-color:$background-boton;
            &:hover{
                color: $color-letra;
                border-color: $color-principal;   
                background-color: $color-principal;
                transform: $trf;
                transition: $trs;
            }
}
.frase-inicio{
    border-radius: 30px;
    background: rgb(151,222,255);
    background: -moz-linear-gradient(90deg, rgba(151,222,255,1) 20%, rgba(255,255,255,0.3841911764705882) 50%, rgba(151,222,255,1) 80%);
    background: -webkit-linear-gradient(90deg, rgba(151,222,255,1) 20%, rgba(255,255,255,0.3841911764705882) 50%, rgba(151,222,255,1) 80%);
    background: linear-gradient(90deg, rgba(151,222,255,1) 20%, rgba(255,255,255,0.3841911764705882) 50%, rgba(151,222,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#97deff",endColorstr="#97deff",GradientType=1);color:$color-letra;
    margin-top: $px-size;
    font-size: $px-size;
    text-align: center;
}