@media (min-width:300px) and (max-width:1000px){
    .titulo-index{
        font-size: 100px;
    }
    .mapa-refencias{
        display: none;
    }
    .card-iframe{
        margin: 40px;
    }
    .main-index{
        height: 660px;
    }
    .img-nav{
        display: none;
    }
}