
.navbar-mio{
    background-color:$color-principal;
    border-bottom:2px solid $color-secundario;
            div{
                a{
                        h2{
                            color:white;
                            font-size: 56px;
                            margin-right: 10px;
                            margin-top: 9px;
                            
                        }
                    }
            }
}
.links-nav{
    font-size: $px-size;
} 